/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: rgba(224, 168, 46, 0.05) !important;
}

// https://github.com/saadeghi/daisyui/issues/1450#issuecomment-1359268875
@media (hover: none) {
	.btn:hover {
		background-color: transparent;
		color: inherit;
	}
}
